/vendor
/log
/public/test
/public/dan
/bower_components
/node_modules
.vagrant
Vagrantfile
.idea
.svn
.env
.env.prod
.DS_Store
thumbs.db
*.TMP
.project
.settings
.phpstorm.meta.php
_ide_helper.php
_ide_helper_models.php